<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/media.css" />
    <script src="../javascript/index.js" type="module"></script>
    <title>Mad Bot</title>
    <script>
      window.onload = async () => {
        if (!window.location.href.split("?code=")[1] && !"<%= user.guilds %>")
          window.location.replace("<%= AUTH_USER_LINK %>");
      };
      const USERJSON = "<%= JSON.stringify(user) %>";
      const USERGUILD = JSON.parse(USERJSON.replace(/&#34;/g, '"'));
    </script>
  </head>
  <body>
    <div class="navBar">
      <div style="display: inline">
        <h1
          style="margin-top: 20px"
          class="MadBotSideTextHeader HeaderTopBotname"
        >
          &nbsp;Mad Bot
        </h1>
        <p class="MadBotSideTextHeader HeaderTopNote">
          Multi Purpose Discord Bot
        </p>
        <img
          src="https://cdn.discordapp.com/avatars/770574530694610956/b9e17b3a8b56ba4be499f24382ae695e.png?size=64"
          alt=""
          class="HeaderThumbnail"
        />
      </div>
      <h1 class="HeaderMain">MadBot Dashboard</h1>
    </div>
    <div>
      <h1
        style="
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 4rem;
          font-weight: bolder;
          text-decoration: underline solid;
        "
      >
        Servers
      </h1>
    </div>
    <div class="Servers">
      <% user.guilds.forEach(server => {%>
      <div>
        <h1 style="font-size: large">Server: <%= server.name %></h1>
        <button
          onclick="serverPageRedirect({ server: server })"
          id="<%= server.id %>"
        >
          <img
            src="<%= Util.serverIcon(server, { width: 500, height: 300}) %>"
            width="500"
            height="300"
          />
        </button>
      </div>
      <% }) %>
    </div>
  </body>
</html>
